body{
  background: linear-gradient(to left,#dadcff 0%, #b3b8ff 100%);
}
.App {
  
  justify-content: center;
  align-items: center;
  display: flex;
}
.todocard{
  width: 50px;
  height:35px;
  background-color: rgb(43, 137, 213);
  border-radius: 10px;
  box-shadow: 0 0  10px 0 rgba(0,0,0,0,1) ;
  padding:20px;
     margin-top:20px;
}
.todoList{
 height: 200px;
 overflow-y: scroll;
 margin-top: 20px;
}
.todoList::-webkit-scrollbar {
 background: rgb(14, 249, 178);
}

.todoList::-webkit-scrollbar-thumb{
 background: wheat;

}
.todoList::-webkit-scrollbar-thumb:hover{
background: #f40000;

}
.todolist div {
list-style: none;
margin-bottom: 10px;
padding: 10px;
border-radius: 10px;
background-color: #3ac7ad;
}
.todolist div:hover {
  background-color: #14d0da;
}

.todoList div input {
 margin-right: 10px;
 cursor: pointer;
}
.todoList div p {
  cursor: pointer;
  display: inline;
 }
.todoInput {
 width: 80%;
 padding: 10px;
 border:1px solid #22b6ec;
 border-radius:  10px;
 outline: none;
}
.addBtn {
 width: 15px;
 padding: 10px;
 border-radius: 5px;
 background-color: #4caf50;
 cursor: pointer;
 outline: none;
 border: none;
 color: white;
}
.addBtn:hover {
background-color: #4caf49;
}
.addition{
  border-radius: 20px;
  background-color: #3ac7ad;
  padding: 13px;
  
}
.deletebtn{
  background-color: lightcoral;
  border: none;
  color: #ccc;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 10px;
}
.todoItem{
  display: flex;
  justify-content: center;
  align-items: center;
}
